---
title: New Zealand scanner electronics dataset
date: 2025-11-12
author: Frances Krsinich
execute:
  echo: false
format:
  html:
    toc: true
    toc-expand: 2
    code-fold: true
    code-summary: "Show the code"
    code-tools: true
categories:
  - dataset
---

In [ ]:
This blog provides an overview, in place for a data paper, to introduce the [anonymized New Zealand scanner electronics dataset](https://code.officialstatistics.org/scanner-task-team-gwg/FEWS_package/-/raw/master/data/SampleDataSet.csv).

In [1]:
import pandas as pd

In [2]:
# Load dataset
df = pd.read_csv("https://code.officialstatistics.org/scanner-task-team-gwg/FEWS_package/-/raw/master/data/SampleDataSet.csv")

In [3]:
df.head()

,month_num,char11,char1,char2,char3,char4,char5,char6,char7,char8,char9,char10,prodid_num,quantity,value
0,2017-01-01,brand_a,10.6,16006,val_w,val_a,val_a,PRG566,CCC,150D,B230,ted,3,280,196420
1,2017-02-01,brand_a,10.6,16006,val_w,val_a,val_a,PRG566,CCC,150D,B230,ted,3,126,85312
2,2017-03-01,brand_a,10.6,16006,val_w,val_a,val_a,PRG566,CCC,150D,B230,ted,3,148,95920
3,2017-04-01,brand_a,10.6,16006,val_w,val_a,val_a,PRG566,CCC,150D,B230,ted,3,56,38552
4,2017-05-01,brand_a,10.6,16006,val_w,val_a,val_a,PRG566,CCC,150D,B230,ted,3,69,47397